<ion-header [translucent]="true" class="ion-no-border">
	<ion-toolbar>
		<ion-title>
			<ion-label>{{ user.user }}</ion-label>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
  	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    	<ion-refresher-content
      		pullingIcon="arrow-dropdown"
      		pullingText="Pull to refresh"
      		refreshingSpinner="circles"
      		refreshingText="Refreshing...">
    	</ion-refresher-content>
  	</ion-refresher>

  	<ion-grid class="secao-1">
  		<ion-row class="sub-1">
  			<ion-col size="3.9">
				<div class="container" [style.background-image]="'url(' + url + user.user_img + ')'"></div>
  			</ion-col>
  			<ion-col size="2.7">
  				<div>
					<ion-label class="num">{{ numPosts }}</ion-label>
					<ion-label>Publicações</ion-label>
				</div>
  			</ion-col>
  			<ion-col size="2.7">
  				<div>
					<ion-label class="num">{{ numSeguidores }}</ion-label>
					<ion-label>Seguidores</ion-label>
				</div>
  			</ion-col>
  			<ion-col size="2.7">
  				<div>
					<ion-label class="num">{{ numSeguidos }}</ion-label>
					<ion-label>Seguindo</ion-label>
				</div>
  			</ion-col>
  		</ion-row>
  		<ion-row class="sub-2">
  			<ion-col>
  				<ion-label>{{ user.name }}</ion-label>
  			</ion-col>
  		</ion-row>
  		<ion-row class="sub-3">
  			<ion-col>
  				<ion-button (click)="seguir()">{{ statusSeguir.texto }}</ion-button>
  			</ion-col>
  		</ion-row>
  	</ion-grid>

  	<ion-segment class="secao-2">
		<ion-segment-button>
			<ion-icon name="grid-outline"></ion-icon>
		</ion-segment-button>
		<ion-segment-button>
			<ion-icon name="person-outline"></ion-icon>
		</ion-segment-button>
  	</ion-segment>

	<ion-grid class="secao-3">
		<ion-row>
			<ion-col size="4" *ngFor="let post of posts;">
				<div class="container" [style.background-image]="'url(' + url + post.img + ')'"></div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>