<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
    		<ion-back-button></ion-back-button>
    	</ion-buttons>
		<ion-title>
			{{ user.user }}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="secao-1">
		<div style="width: 30%">
			<img src="{{ url + user.user_img }}" class="img-perfil">
		</div>
		<div style="width: 70%; min-height: 100%">
			<ion-label style="display: flex; justify-content: center">{{ user.name }}</ion-label>
			<ion-button (click)="seguir()">{{ statusSeguir.texto }}</ion-button>
		</div>
	</div>

	<div class="secao-2">
		<ion-label>Quem sou eu...</ion-label>
	</div>

	<div class="secao-3">
		<div>
			<ion-label>{{ numPosts }}</ion-label>
			<ion-label>Publicações</ion-label>
		</div>
		<div>
			<ion-label>{{ numSeguidores }}</ion-label>
			<ion-label>Seguidores</ion-label>
		</div>
		<div>
			<ion-label>{{ numSeguidos }}</ion-label>
			<ion-label>Seguindo</ion-label>
		</div>
	</div>

	<div *ngFor="let post of posts;" class="secao-4">
		<div class="sub-1">
			<div>
				<img src="{{ url + user.user_img }}">
			</div>
			<div style="margin-left: 12px;">
				<ion-label>{{ user.user }}</ion-label>
			</div>
			<div style="position: absolute; right: 0;">
				<ion-icon name="ellipsis-horizontal-outline" style="width: 40px; padding: 8px;"></ion-icon>
			</div>
		</div>		
		<div class="sub-2">
			<img src="{{ url + post.img }}">
		</div>		
		<div class="sub-3">
			<ion-button fill="clear">
				<ion-icon name="heart-outline"></ion-icon>
			</ion-button>
			<ion-button fill="clear">
				<ion-icon name="chatbubbles-outline"></ion-icon>
			</ion-button>
			<ion-button fill="clear">
				<ion-icon name="paper-plane-outline"></ion-icon>
			</ion-button>
			<ion-button fill="clear" style="position: absolute; right: 0;">
				<ion-icon name="bookmark-outline"></ion-icon>
			</ion-button>
		</div>		
		<div class="sub-4">
			<ion-label style="font-size: 9pt;">Curtido por <strong>guilherme.fmr</strong></ion-label>
		</div>		
		<div class="sub-5">
			<ion-label style="font-size: 9pt;"><strong>{{ user.user }}</strong> {{ post.legenda }}</ion-label>
		</div>		
		<div class="sub-6">
			<ion-label style="font-size: 9pt;"><strong>agathaherzer</strong> Foi lindo mozão! Te amo! s2</ion-label>
		</div>		
	</div>
</ion-content>
