<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-searchbar></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div style="margin-right: 2px;">
		<img src="assets/img/profile-1.jpg" style="width: 123.5px">
	</div>	
	<div style="margin-right: 2px;">
		<img src="assets/img/profile-1.jpg" style="width: 123.5px">
	</div>	
	<div>
		<img src="assets/img/profile-1.jpg" style="width: 123.5px">
	</div>	
	<div style="margin-right: 2px;">
		<img src="assets/img/profile-1.jpg" style="width: 123.5px">
	</div>	
	<div style="margin-right: 2px;">
		<img src="assets/img/profile-1.jpg" style="width: 123.5px">
	</div>	
	<div>
		<img src="assets/img/profile-1.jpg" style="width: 123.5px">
	</div>	
</ion-content>