<ion-header>
	<ion-toolbar>
		<ion-searchbar (ionChange)="buscarPerfil()" [(ngModel)]="texto"></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row *ngFor="let user of users;" class="secao-1" (click)="verPerfil(user.id)">
			<ion-col class="profile-pic" size="1.5">
				<img src="{{ url + user.profile_pic_url }}">
			</ion-col>
			<ion-col class="username" size="10.5">
				<ion-label>{{ user.username }}</ion-label>		
				<ion-label>{{ user.full_name }}</ion-label>		
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>