<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-button slot="start" fill="clear" style="color: black;">
				<ion-icon name="camera-outline"></ion-icon>
		</ion-button>
		<ion-title>
			Instagram
		</ion-title>
		<ion-button slot="end" fill="clear" style="color: black;">
				<ion-icon name="paper-plane-outline"></ion-icon>
		</ion-button>
	</ion-toolbar>
</ion-header>

<ion-content>
  	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    	<ion-refresher-content
      		pullingIcon="arrow-dropdown"
      		pullingText="Pull to refresh"
      		refreshingSpinner="circles">
    	</ion-refresher-content>
  	</ion-refresher>
  	
	<div class="secao-1">
		<ion-slides [options]="slideOpts" class="stories">
			<!--
			<ion-slide>
				<div class="col">
					<div>
						<div class="storie-user-img">
							<div class="container" [style.background-image]="'url(' + url + userImg + ')'"></div>
							
						</div>
						<ion-label>Seu story</ion-label>
					</div>
				</div>
			</ion-slide>
			-->
			<ion-slide *ngFor="let storie of stories;">
				<div class="col">
					<div>
						<div class="storie-user-img gradient-border">
							<div class="container" [style.background-image]="'url(' + url + storie.user_img + ')'"></div>
						</div>
						<ion-label>{{ storie.user }}</ion-label>
					</div>
				</div>
			</ion-slide>
		</ion-slides>
	</div>
	

	<div class="secao-2" *ngFor="let post of posts;">
		<div class="sub-1">
			<div (click)="verPerfil(post.owner_post.id)">
				<img src="{{ url + post.owner_post.profile_pic_url }}">
			</div>
			<div style="margin-left: 12px;">
				<ion-label>{{ post.user }}</ion-label>
				<ion-label>Rio de Janeiro, Rio de Janeiro</ion-label>
			</div>
			<div style="position: absolute; right: 0;">
				<ion-icon name="ellipsis-horizontal-outline" style="width: 40px; padding: 8px;"></ion-icon>
			</div>
		</div>		
		<div class="sub-2">
			<img src="{{ url + post.display_url }}">
		</div>		
		<div class="sub-3">
			<ion-button fill="clear">
				<ion-icon name="heart-outline"></ion-icon>
			</ion-button>
			<ion-button fill="clear" [routerLink]="['/comentarios', post.id]">
				<ion-icon name="chatbubbles-outline"></ion-icon>
			</ion-button>
			<ion-button fill="clear">
				<ion-icon name="paper-plane-outline"></ion-icon>
			</ion-button>
			<ion-button fill="clear" style="position: absolute; right: 0;">
				<ion-icon name="bookmark-outline"></ion-icon>
			</ion-button>
		</div>		
		<div class="sub-4">
			<ion-label style="font-size: 9pt;">Curtido por <strong>guilherme.fmr</strong></ion-label>
		</div>		
		<div class="sub-5">
			<ion-label style="font-size: 9pt;"><strong>{{ post.owner_post.username }}</strong> {{ post.legenda }}</ion-label>
		</div>		
		<div class="sub-6" *ngFor="let comentario of post.comentarios;">
			<ion-label style="font-size: 9pt;"><strong>{{ comentario.user.username }}</strong> {{ comentario.texto }}</ion-label>
		</div>		
	</div>
</ion-content>