/* Stories */

.secao-1{
	border-bottom: solid 1px;
	border-color: #d9d9d9;
}

.secao-1 .stories{
	padding: 10px 0;
}

.secao-1 .stories ion-slide .col{
  	display: flex;
  	align-items: center;
	justify-content: center;
}

.storie-user-img{
  	display: flex;
  	align-items: center;
	justify-content: center;

	width: 60px;
    height: 60px;
    
    position: relative;
    
    border: 2px solid transparent;
    border-radius: 50%;
    background: white;
    background-clip: padding-box;
    padding: 1px;
}

.gradient-border::after {
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(red, blue);
    content: '';
    z-index: -1;
    border-radius: 50%;
}

.secao-1 .stories ion-slide .container{
	display: block;
	margin: 0 auto;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	//border: 0.2px solid;
	background-size: cover;
}

.secao-1 .stories ion-slide ion-label{
	display: block;
	margin-top: 8px;
	max-width: 56px;
	font-size: 7pt;
	border-radius: 50%;
}

/* Posts */

.secao-2,
.secao-2 ion-col{
	padding: 0;
}

.secao-2 .sub-1{
	display: flex;
  	align-items: center;
	justify-content: center;

	height: 50px;
	padding: 5px 10px;
}

.secao-2 .sub-1 .profile-pic-url{
	background-size: cover;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.secao-2 .sub-1 .username{
	font-size: 13px;
	font-weight: bold;
}

.secao-2 .sub-4,
.secao-2 .sub-5,
.secao-2 .sub-6,
.secao-2 .sub-7,{
	padding: 2px 10px;
	font-size: 12px;
}

.secao-2 .sub-3 .curtir{
	background-image: url('http://192.168.0.127/assets/icons/like.png');
	background-size: cover;
	height: 24px;
	width: 24px;
}

.secao-2 .sub-3 .descurtir{
	background-image: url('http://192.168.0.127/assets/icons/deslike.png');
	background-size: cover;
	height: 24px;
	width: 24px;
}

.secao-2 .sub-6 ion-label{
	color: gray;
}
