<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-button slot="start" fill="clear" style="color: black;">
				<ion-icon name="camera-outline"></ion-icon>
		</ion-button>
		<ion-title>
			Instagram
		</ion-title>
		<ion-button slot="end" fill="clear" style="color: black;">
				<ion-icon name="paper-plane-outline"></ion-icon>
		</ion-button>
	</ion-toolbar>
</ion-header>

<ion-content>
  	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    	<ion-refresher-content
      		pullingIcon="arrow-dropdown"
      		pullingText="Pull to refresh"
      		refreshingSpinner="circles">
    	</ion-refresher-content>
  	</ion-refresher>
  	
	<div class="secao-1">
		<ion-slides [options]="slideOpts" class="stories">
			<!--
			<ion-slide>
				<div class="col">
					<div>
						<div class="storie-user-img">
							<div class="container" [style.background-image]="'url(' + url + userImg + ')'"></div>
							
						</div>
						<ion-label>Seu story</ion-label>
					</div>
				</div>
			</ion-slide>
			-->
			<ion-slide *ngFor="let storie of stories;">
				<div class="col">
					<div>
						<div class="storie-user-img gradient-border">
							<div class="container" [style.background-image]="'url(' + url + storie.user_img + ')'"></div>
						</div>
						<ion-label>{{ storie.user }}</ion-label>
					</div>
				</div>
			</ion-slide>
		</ion-slides>
	</div>
	

	<ion-grid class="secao-2" *ngFor="let post of posts; let i=index">
		<ion-row class="sub-1">
			<ion-col size="1.5" (click)="verPerfil(post.owner_post.id)">
				<div class="profile-pic-url" [style.background-image]="'url(' + url + post.owner_post.profile_pic_url + ')'"></div>
			</ion-col>
			<ion-col size="9.5">
				<ion-label class="username">{{ post.owner_post.username }}</ion-label>
			</ion-col>
			<ion-col size="1">
				<ion-icon name="ellipsis-horizontal-outline"></ion-icon>
			</ion-col>
		</ion-row>
		<ion-row class="sub-2">
			<ion-col>
				<img src="{{ url + post.display_url }}">
			</ion-col>
		</ion-row>
		<ion-row class="sub-3">
			<ion-col size="2">
				<ion-button fill="clear" (click)="like(post.id, i)">
					<div [class]="heartType[i] ? 'descurtir' : 'curtir'"></div>
				</ion-button>
			</ion-col>
			<ion-col size="2">
				<ion-button fill="clear" [routerLink]="['/comentarios', post.id]">
					<ion-icon name="chatbubbles-outline"></ion-icon>
				</ion-button>
			</ion-col>
			<ion-col size="2">
				<ion-button fill="clear">
					<ion-icon name="paper-plane-outline"></ion-icon>
				</ion-button>
			</ion-col>
			<ion-col size="2" offset="4">
				<ion-button fill="clear">
					<ion-icon name="bookmark-outline"></ion-icon>
				</ion-button>
			</ion-col>
		</ion-row>
		<ion-row class="sub-4">
			<ion-col>
				<ion-label>Curtido por <strong>{{ post.preview_likes.username }}</strong> e <strong>outras {{ post.count_likes - 1 }} pessoas</strong></ion-label>
			</ion-col>
		</ion-row>
		<ion-row class="sub-5">
			<ion-col>
				<ion-label><strong>{{ post.owner_post.username }}</strong> {{ post.legenda }}</ion-label>
			</ion-col>
		</ion-row>
		<ion-row class="sub-6">
			<ion-col>
				<ion-label [routerLink]="['/comentarios', post.id]">Ver todos os {{ post.comentarios_contagem }} comentários</ion-label>
			</ion-col>
		</ion-row>
		<ion-row class="sub-7" *ngFor="let comentario of post.comentarios | slice:0:2;">
			<ion-col>
				<ion-label><strong>{{ comentario.user.username }}</strong> {{ comentario.texto }}</ion-label>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>