.secao-1{
	border-bottom: solid 1px;
	border-color: #d9d9d9;
}

.secao-1 .stories{
	padding: 10px 0;
}

.secao-1 .stories ion-slide .col{
  	display: flex;
  	align-items: center;
	justify-content: center;
}

.storie-user-img{
  	display: flex;
  	align-items: center;
	justify-content: center;

	width: 60px;
    height: 60px;
    
    position: relative;
    
    border: 2px solid transparent;
    border-radius: 50%;
    background: white;
    background-clip: padding-box;
    padding: 1px;
}

.gradient-border::after {
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(red, blue);
    content: '';
    z-index: -1;
    border-radius: 50%;
}

.secao-1 .stories ion-slide .container{
	display: block;
	margin: 0 auto;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	//border: 0.2px solid;
	background-size: cover;
}

.secao-1 .stories ion-slide ion-label{
	display: block;
	margin-top: 8px;
	max-width: 56px;
	font-size: 7pt;
	border-radius: 50%;
}

.secao-2 .sub-1{
	height: 59.5px;
	padding: 16px 40px 16px 16px;

	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: left

}

.secao-2 .sub-1 div{
	display: inline-block;
}

.secao-2 .sub-1 img{
	width: 32px; 
	border-radius: 50%;
}

.secao-2 .sub-1 ion-label{
	font-size: 14px;
	display: block;
}

.secao-2 .sub-2 img{
	width: 100%;
}

.secao-2 .sub-3{
	padding: 0px 16px;
}

.secao-2 .sub-4{
	padding: 0px 16px;
	margin-bottom: 8px;
}

.secao-2 .sub-5{
	padding: 0px 16px;
	margin-bottom: 4px;
}

.secao-2 .sub-6{
	padding: 0px 16px;
}